/* newsmain.css */

/* Tabs Container */
.tabs-container {
    @apply 
    w-screen  
    m-0 p-0 
    !important;
}

/* Tabs List */
.tabs-list {
    @apply
    h-fit
    bg-transparent
    py-6 
    fixed
    xl:px-24 2xl:px-40 top-0 left-0 right-0 
    grid grid-cols-5 z-50
    transition-all duration-300 ease-in-out 
    
    !important;
}

.tabs-list:hover {
    @apply
    bg-gray-900/80
    backdrop-blur-md
    shadow-lg shadow-blue-500/10
}

/* Tab Item */
.tab-item {
    @apply flex flex-1 justify-center;
}

/* Tab Trigger */
.tab-trigger {
    @apply 
    w-fit 
    py-2.5 
    px-6 
    rounded-full 
    text-gray-200 
    bg-gray-800/50 
    backdrop-blur-sm
    border border-gray-700/50
    transition-all duration-300 ease-in-out 
    hover:scale-105
    !important;
}

.tab-trigger:hover {
    @apply 
    text-white 
    bg-blue-600/20 
    border-blue-500/30
    shadow-lg shadow-blue-500/20
    !important;
}

.tab-trigger[data-state="active"] {
    @apply 
    bg-gradient-to-r from-blue-500/20 via-blue-600/20 to-blue-500/20
    text-white 
    border-blue-500/50
    shadow-lg shadow-blue-500/30
    !important;
}

/* Footer */
.footer {
    @apply 
    flex 
    flex-row 
    
    space-x-2.5
    p-2
    fixed 
    right-1/2
    translate-x-1/2
    bg-gray-800/50
    backdrop-blur-md
    border border-gray-700 
    rounded-2xl 
    transition-all duration-300 ease-in-out
    shadow-lg shadow-blue-500/10
    !important;
}

.footer:hover {
    @apply
    -translate-y-1/4
    shadow-lg shadow-blue-500
}

/* Tag*/

.tag {
    @apply
    w-fit 
    h-fit 
    bg-gray-800/50
    text-gray-200
    border border-gray-700
    transition-all duration-300 ease-in-out
    !important;
}

/* Button */
.button-container {
    @apply 
    w-fit 
    h-fit  
    transition-all duration-300 ease-in-out 
    !important;
}

.button {
    @apply 
    w-fit 
    h-fit 
    p-0.5 
    bg-gray-800/50
    text-gray-200
    rounded-xl 
    border border-gray-700
    transition-all duration-300 ease-in-out
    !important;
}

.button:hover {
    @apply 
    scale-105
    bg-gradient-to-r from-blue-500/40 via-blue-600/40 to-blue-500/40
    border-blue-500/30
    shadow-lg shadow-blue-500/20
    !important;
}

.active-button {
    @apply
    scale-105
    w-fit 
    h-fit 
    p-0.5
    rounded-xl
    bg-gray-800/50
    text-gray-200
    bg-gradient-to-r from-blue-500/40 via-blue-600/40 to-blue-500/40
    border border-blue-500/30
    shadow-lg shadow-blue-500/20
    transition-all duration-300 ease-in-out
    !important;
}

.active-button:hover {
    @apply
    scale-100
    bg-gray-800/30
    text-gray-200
    rounded-xl 
    border border-gray-700
    transition-all duration-300 ease-in-out
    !important;
}

.button-content {
    @apply 
    p-2 
    flex 
    justify-center 
    items-center;
}

/* Refresh Button */

.refresh-·button-container {
    @apply absolute w-fit h-fit 2xl:left-12 !important;
}



/* New meaningful classes */
.tabs-content-container {
    @apply  pt-12 pb-1 bg-black/50 backdrop-blur-sm backdrop-contrast-125 !important;
}

.tabs-content {
    @apply mt-0 transition-all duration-300 ease-in-out !important;
}

/* .question-refresh {
    
} */

/* Articles */

.article-card {
    @apply
    border border-gray-700 
}

.article-card:hover {
    @apply 
    bg-gradient-to-r from-blue-500/20 via-blue-600/20 to-blue-500/20 
    border-blue-500/30
    shadow-lg shadow-blue-500/50
}

.question-header {
    @apply flex flex-col w-fit items-center justify-self-center text-lg !important;
}

.question-title {
    @apply text-3xl leading-normal text-center font-medium;
}

.question-keywords {
    @apply text-center w-fit text-gray-400;
}

.news-grid {
    @apply grid gap-6 md:grid-cols-2 lg:grid-cols-4;
}

.video-container {
    @apply col-span-2 h-[400px];
}

.video-wrapper {
    @apply w-full h-full;
}

.separator {
    @apply 
    h-[2px] 
    w-full 
    bg-gradient-to-r 
    from-transparent via-blue-400/50 to-transparent
    shadow-lg shadow-blue-500/20
    !important;
}


@keyframes gradientSlide {
    from { background-position: 200% center; }

    to { background-position: 0% center; }
}

.animated-gradient {
  background-size: 200% auto;
  animation: gradientSlide 3.5s linear infinite;
}


@keyframes gradientTitleSlide {
    from { background-position: 200% center; }

    to { background-position: 0% center; }
}

.animated-title-gradient {
  background-size: 200% auto;
  animation: gradientTitleSlide 8s linear infinite;
}