/* newsmain.css */

/* Tabs Container */
.tabs-container {


    @apply 
    w-screen 
    overflow-hidden 
    m-0 p-0 
    !important;
}

/* Tabs List */
.tabs-list {
    @apply 
    h-fit 

    bg-transparent

    py-6 
    fixed

    xl:px-24 2xl:px-40 top-0 left-0 right-0 
    grid grid-cols-5  z-50

    transition-all duration-300 ease-in-out 
    !important;
}

.tabs-list:hover {
    @apply
    bg-gray-700/50
    backdrop-blur-sm
}


.tabs-list.visible {
    @apply opacity-100 ;
}

/* Tab Item */
.tab-item {
    @apply flex flex-1 justify-center;
}

/* Tab Trigger */
.tab-trigger {
    @apply w-fit py-3 px-4 rounded-full text-gray-400 bg-black/70  transition-all duration-300 ease-in-out !important;
}


.tab-trigger:hover {
    @apply animate-bounce-subtle text-white bg-gray-700/90 !important;
}

.tab-trigger[data-state="active"] {
    @apply bg-gray-700 text-white !important;
}

/* Footer */
.footer {
    @apply 
    flex 
    flex-row 
   
    space-x-8
    p-4

    fixed 
    right-1/2

    translate-x-1/2

    bg-gray-700/80 backdrop-blur-sm
    
    rounded-2xl 
    
    transition-all duration-300 ease-in-out
    !important;
}

.footer:hover {
    @apply
    bottom-4
}

/* Button */
.button-container {
    @apply w-fit h-fit  transition-all duration-300 ease-in-out !important;
}

.button {
    @apply 
    w-fit h-fit 

    p-0.5 

    bg-gray-500/50

    text-gray-300

    rounded-xl 
    
    transition-all duration-300 ease-in-out !important;
}

.button:hover {
    @apply animate-bounce-subtle !important
}

.button-content {
    @apply p-2 flex justify-center items-center;
}

/* Refresh Button */

.refresh-·button-container {
    @apply absolute w-fit h-fit 2xl:left-12 !important;
}



/* New meaningful classes */
.tabs-content-container {
    @apply  pt-12 pb-1 bg-black/50 backdrop-blur-sm backdrop-contrast-125 !important;
}

.tabs-content {
    @apply mt-0 transition-all duration-300 ease-in-out !important;
}

/* .question-refresh {
    
} */

.question-header {
    @apply flex flex-col w-fit items-center justify-self-center text-lg !important;
}

.question-title {
    @apply text-3xl leading-normal text-center font-medium;
}

.question-keywords {
    @apply text-center w-fit text-gray-400;
}

.news-grid {
    @apply grid gap-6 md:grid-cols-2 lg:grid-cols-4;
}

.video-container {
    @apply col-span-2 h-[400px];
}

.video-wrapper {
    @apply w-full h-full;
}

.separator {
    @apply my-12 bg-gray-600/70 !important;
}


@keyframes gradientSlide {
    from { background-position: 200% center; }

    to { background-position: 0% center; }
}

.animated-gradient {
  background-size: 200% auto;
  animation: gradientSlide 3.5s linear infinite;
}


@keyframes gradientTitleSlide {
    from { background-position: 200% center; }

    to { background-position: 0% center; }
}

.animated-title-gradient {
  background-size: 200% auto;
  animation: gradientTitleSlide 8s linear infinite;
}